body 
	background: fixed center
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("https://i.imgur.com/j8IEfV4.gif?noredirect")
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	background-blend-mode: luminosity
