#profilepic
	width: 150px
	height: 150px
	border: solid 4px orange
	border-radius: 50%

#profilepicprofile
	width: 100px
	height: 100px
	border: solid 4px orange
	border-radius: 50%

.indexheader
	height: 100vh
	@include center (column)
	font-family: $font

	#fullname
		display: flex
		color: white

		#lastname
			color: orange
			margin-left: 10px
	#position
	color: white
