.profilesection
	height: 100vh
	@include center (column)

.projectsection
	height: 100vh
	@include center (column)

.skillssection
	height: 100vh
	@include center (column)
	
	div
		background: transparent
		border: transparent

		#logoskill
			height: 100px
			width: 100px
			color: orange
			margin-bottom: 20px
			&:hover
				transform: scale(1.8)
				color: blue

		#roles
			&:hover
				transform: scale(1.2)

.contactsection
	height: 100vh
	@include center (column)

