.wrapper
	display: flex
	position: relative

	.sidebar
		position: fixed
		width: 200px
		height: 100%
		background: transparent
		padding: 30px 0px

		#portfolio
			height: 120px
			width: 200px
			text-align: center
			margin-bottom: 20px

		ul
			li
				padding: 15px
				border-bottom: 1px solid rgba(0,0,0,0.05)
				border-top: 1px solid rgba(225,225,225,0.05)
				font-family: $font
				&:hover
					background: $selectedcolor

				a
					color: white
					display: block
					text-decoration: none
					&:hover
						color: black
						transform: scale(1.1)
			#profileli
				background: $selectedcolor
				a
					color: $fontcolorblack
			#homeli
				background: $selectedcolor
				a
					color: $fontcolorblack
			#projectli
				background: $selectedcolor
				a
					color: $fontcolorblack
			#skillsli
				background: $selectedcolor
				a
					color: $fontcolorblack
			#contactli
				background: $selectedcolor
				a
					color: $fontcolorblack
		.social_media
			position: absolute
			bottom: 0
			left: 50%
			transform: translateX(-50%)
			display: flex

			a
				display: block
				width: 50px
				background: transparent
				height: 50px
				line-height: 50px
				text-align: center
				margin: 0 5px
				color: gray
				border-top-right-radius: 2px
				border-top-left-radius: 2px

				i
					&:hover
						color: darkblue
						transform: scale(1.8)