* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: fixed center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://i.imgur.com/j8IEfV4.gif?noredirect");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
}

#profilepic {
  width: 150px;
  height: 150px;
  border: solid 4px orange;
  border-radius: 50%;
}

#profilepicprofile {
  width: 100px;
  height: 100px;
  border: solid 4px orange;
  border-radius: 50%;
}

.indexheader {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Ubuntu", sans-serif;
  color: white;
}
.indexheader #fullname {
  display: flex;
  color: white;
}
.indexheader #fullname #lastname {
  color: orange;
  margin-left: 10px;
}
.profilesection {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.projectsection {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.skillssection {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.skillssection div {
  background: transparent;
  border: transparent;
}
.skillssection div #logoskill {
  height: 100px;
  width: 100px;
  color: orange;
  margin-bottom: 20px;
}
.skillssection div #logoskill:hover {
  transform: scale(1.8);
  color: blue;
}
.skillssection div #roles:hover {
  transform: scale(1.2);
}

.contactsection {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  position: relative;
}
.wrapper .sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: transparent;
  padding: 30px 0px;
}
.wrapper .sidebar #portfolio {
  height: 120px;
  width: 200px;
  text-align: center;
  margin-bottom: 20px;
}
.wrapper .sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(225, 225, 225, 0.05);
  font-family: "Ubuntu", sans-serif;
}
.wrapper .sidebar ul li:hover {
  background: orange;
}
.wrapper .sidebar ul li a {
  color: white;
  display: block;
  text-decoration: none;
}
.wrapper .sidebar ul li a:hover {
  color: black;
  transform: scale(1.1);
}
.wrapper .sidebar ul #profileli {
  background: orange;
}
.wrapper .sidebar ul #profileli a {
  color: black;
}
.wrapper .sidebar ul #homeli {
  background: orange;
}
.wrapper .sidebar ul #homeli a {
  color: black;
}
.wrapper .sidebar ul #projectli {
  background: orange;
}
.wrapper .sidebar ul #projectli a {
  color: black;
}
.wrapper .sidebar ul #skillsli {
  background: orange;
}
.wrapper .sidebar ul #skillsli a {
  color: black;
}
.wrapper .sidebar ul #contactli {
  background: orange;
}
.wrapper .sidebar ul #contactli a {
  color: black;
}
.wrapper .sidebar .social_media {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.wrapper .sidebar .social_media a {
  display: block;
  width: 50px;
  background: transparent;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0 5px;
  color: gray;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.wrapper .sidebar .social_media a i:hover {
  color: darkblue;
  transform: scale(1.8);
}

/*# sourceMappingURL=style.css.map */
